@import url(variables.css);

@font-face {
    font-family: avenirHeavy;
    src: url(/storage/font/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: avenirRoman;
    src: url(/storage/font/AvenirLTStd-Roman.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





main {
    background-color: #864339;

}






.head { 
    background-color: blueviolet;
    display: flex;
    align-self: center;

}

.Title{
    background-color: #e946dc;
    width: 50%;
}
.TitleBox{
    background-color: #e946a5;
    max-width: fit-content;
}
.TitleBox h1{
    background-color: #12b2aa;
    font-family: avenirHeavy;
}




.Parraf{
    background-color: #121ab2;
    width: 50%;
}
.parrafbox{
    background-color: #5f63a4;
    max-width: fit-content;
}
.botonbox{
    background-color: #474a7b;
    max-width: fit-content;
}
.parrafbox p { 
    background-color: #8f0d0d;
    font-family: avenirRoman;
}
.botonbox a { 

    font-family: avenirRoman;

    

    color: #fff;
    font-family: avenirRoman;
    text-decoration: none;
}








.foot { 
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contruction{
    max-width: 100%;
    max-height:100%;
}

















